*{
    box-sizing: border-box;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.section-pad{
    padding: 90px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.light-salmon{
    color: lightsalmon;
}
/******* top-header-area-start********/
.top-header{
    background: linear-gradient(45deg, #ff08089e, transparent);
}
.logo{
    width: 20%;
    margin-left: 40px;
}
.logo img{
    width: 20%;
}
.menu-area{
    width: 80%;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: #976a6a;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
/********** header area end ******/
/********* welcome area start *****/
.welcome-section{
    padding: 50px 0px 80px 0px;
}
.half-width{
    width: 50%;
}
.link-tab{
    text-decoration: none;
    background-image: linear-gradient(80deg,lightsalmon, tomato);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 2px 8px 28px#ff7859;
}
.second-row img{
    width: 80%;
}
.first-row{
    margin-left: 100px;
}
.first-row p{
    font-size: 20px;
    padding: 0px 80px 40px 0px;
    color: #4b46468c;;
}
.first-row h1{
    font-size: 60px;
    color: #030303ba;
}
/***** welcome area end ****/
/******** about me area start *******/
.about-img img{
    width: 50%;
}
.about-me-area{
    background-image: url(../images/shapes/Frame\ 59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 40px 0px 80px;
}
.about-me-contant p{
    margin: 50px 40px 80px 0px;
}
.about-me-contant h1{
    font-size: 30px;
    color: gray;
}
/*********** about me area end **********/
/******* My racipies area start ********/
.my-racipies-area{
    padding: 70px 0px;
}
.racipies-tp-contant h1{
    color: gray;
    font-size: 30px;
}
.racipies-tp-contant p{
    padding: 15px 435px;
    line-height: 25px;
}
.racipies-detail img{
    width: 100%;
    border-radius: 20px;
}
.racipies-detail{
    width: 70%;
    margin: 0 auto;
}
.racipies-detail-contant{
    box-shadow: 5px 15px 35px grey;
    margin-right: 50px;
    padding: 15px;
    border-radius: 30px;
}
/************ my racipie area end ******/
/********** Contact-from area start *********/
.contact-area{
    padding: 80px 80px;
    background: linear-gradient(#ffa07a61,#ff6347cc);
}
.inner-contact h2{
    color: #fff;
    font-size: 40px;
}
.main-contact-from input{
    background: #fff;
    border: none;
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    margin: 18px 20px;
    outline: 0;
}
.main-contact-from textarea{
    resize: none;
    height: 30%;
    width: 83%;
    border: none;
    border-radius: 5px;
    outline: 0;
}
/********* contact from srea end*****/
/********footer area start **********/
.food-network-area{
    padding: 60px;
    background-color: black;
}
.food-network-area h1{
    color: dimgrey;
}
.food-network-area p{
    color: #fff;
}
/*********footer area end*******/